<footer class="footer">

    <div class="container footer-grid">

        <div class="footer-brand">

            <h2>
                Park-Lay Suites
            </h2>

            <p>
                Luxury hospitality crafted for unforgettable
                experiences, elegant comfort, and timeless relaxation.
            </p>

        </div>

        <div class="footer-links">

            <h3>
                Navigation
            </h3>

            <ul>

                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/rooms/">Rooms</a>
                </li>

                <li>
                    <a href="#amenities">Amenities</a>
                </li>

            </ul>

        </div>

        <div class="footer-contact">

            <h3>
                Contact
            </h3>

            <p>
                📍 Park-Lay Suites
            </p>

            <p>
                📞 +63 912 345 6789
            </p>

            <p>
                ✉️ reservations@jackal.com
            </p>

        </div>

    </div>

    <div class="footer-bottom">

        <p>
            © 2026 Park-Lay Suites. Django boys. All Rights Reserved.
        </p>

    </div>

</footer>